
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');


*{
    box-sizing: border-box;
    margin: 0px;
    padding:0px;
}


body{
    padding-top: 15vh;
    height: 100dvh;
    background-image: url("./img/sfondo1.png") ;
    background-size: cover;
    background-repeat: no-repeat;
}

img{
    display: inline-block;
    height: 100%;
}

nav{
    justify-content:center;
    width: 100%;
}


/* _______________________________

---------------ELEMENTS--------------
__________________________________ */


.pokeball{
    align-self: stretch;
    margin: auto;
}

#incrementa{
    padding: 12px 18px;
    font: 3.2vh;
    margin-top: 12px;
    text-transform: uppercase;
    border-radius: 999px;
    color:white;
    background-color: crimson;
}

.pokeball img{
    margin-top: 12px;
    height: 80px;
}

.minus img{
    margin-left: auto;
}

.button {
    background-color: transparent;    
    filter: contrast(1) drop-shadow(0px 0px 2px black) drop-shadow(5px 5px 4px rgb(53, 53, 53)) ;

}

.button:active{
    filter: none;
}

.button:focus{
    filter: none;
}

.scoreboard {
    width: 25vw;
    display: inline-block;
    background-color: #333;
    padding: calc(0.8vh + 0.8vw);
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.score {
    width: 100%;
    padding-bottom: 4px;
    color:rgb(46, 252, 149);
    position: relative;
    border-radius: 5px;
    background-color: #6a6a6a;
    display: inline-block;
}

#numero{
    font-family: 'Silkscreen', cursive;
    font-size: 3.2vw;
}
  


/* _______________________________

---------------LAYOUT--------------
__________________________________ */

.container{
    max-width: 1000px;
    margin: auto;
}

.row{
    align-items:center;
    text-align:center;
    row-gap: 6vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;  
}

.col{
    height:100%;
    border: red 1px solid;
} 

.col-auto{ 
    flex-grow: 1;
}

.col-1{
    flex-basis: calc(100%/12*1);
}

.col-2{
    flex-basis: calc(100%/12*2);
}

.col-3{
    flex-basis: calc(100%/12*3);
}

.col-4{
    flex-basis: calc(100%/12*4);
}

.col-5{
    flex-basis: calc(100%/12*5);
}

.col-6{
    flex-basis: calc(100%/12*6);
}

.col-7{
    flex-basis: calc(100%/12*7);
}

.col-8{
    flex-basis: calc(100%/12*8);
}

.col-9{
    flex-basis: calc(100%/12*9);
}

.col-10{
    flex-basis: calc(100%/12*10);
}

.col-11{
    flex-basis: calc(100%/12*11);
}

.col-12{
    flex-basis: 100%;
}


/* _______________________________

---------------RESPONSIVE--------------
__________________________________ */
  
@media screen and (max-width: 768px) {
 

   .tabellone{
    order: -2;
   }

   .scoreboard{
    min-width: 50%;
   }


   #numero{
    font-size: 48px;
   }

   .minus, .plus{
    order:3;
    flex-basis: calc(100%/12*6);
   }

   .minus img, .plus img{
    max-height: 150px;
   }

   .pokeball, .reset{
    order:5;
    flex-basis: calc(100%/12*6);
   }
}
  
  
  


  
  